{{extend 'layout.html'}}
<h1>Contacto</h1>
<p>Nos encanta recibir preguntas, comentarios, cr&iacute;ticas y sugerencias sobre nuestro sitio web a trav&eacute;s de la direcci&oacute;n <a href="mailto:contacto@airea.me">contacto@airea.me</a>. Leemos todos los mensajes con mucha atenci&oacute;n y procuramos contestarlos todos.</p>
<p>Si perteneces o representas a un medio de comunicaci&oacute;n, preferimos que nos contactes a trav&eacute;s de los canales indicados en la secci&oacute;n de prensa.</p>
