{{extend 'layout.html'}}
<h1>Prensa</h1>
<p>&iquest;Quieres escribir sobre nosotros o conocer nuestra opini&oacute;n sobre alg&uacute;n tema? Cont&aacute;ctanos en la direcci&oacute;n de correo electr&oacute;nico: <a href="mailto:contacto@airea.me">contacto@airea.me</a>.</p>
<p>Nos encanta hablar sobre los siguientes temas:</p>
<ul>
    <li>Datos abiertos (open data)</li>
    <li>e-Gobierno y e-Administraci&oacute;n</li>
    <li>Aplicaciones pr&aacute;cticas de Internet</li>
    <li>Free Libre Open Source Software</li>
    <li>Emprendizaje tecnol&oacute;gico</li>
    <li>Dise&ntilde;o y programaci&oacute;n de sitios web</li>
</ul>
<!-- <h2>Im&aacute;genes</h2>
<ul>
	<li><a href="http://www.airea.me/logotipo.png" title="Logotipo de aireame">Logotipo</a>(PNG, 16,92KB)</li>
	<li>Portada del sitio (PNG, 16,92KB)</li>
	<li>P&aacute;gina de detalle  (PNG, XXX KB)</li>
</ul> -->
<h2>Novedades</h2>
<p>Puedes seguir todas las novedades de este sitio a trav&eacute;s de nuestra cuenta en <a href="http://facebook.com/aireame" title="Facebook de aireame">Facebook</a>.
