{{extend 'layout.html'}}
<h1>Privacidad</h1>
<p>Airea.me no recopila ninguna informaci&oacute;n sobre sus visitantes.</p>
<p>Airea.me utiliza un servicio de anal&iacute;tica web llamado <a href="http://www.google.com/analytics/" title="Google Analytics">Google Analytics</a>. Esta aplicaci&oacute;n externa utiliza cookies y JavaScript para obtener informaci&oacute;n an&oacute;nima sobre nuestros visitantes (qu&eacute; sistema operativo y navegador utilizan, la resoluci&oacute;n de su pantalla, su localizaci&oacute;n geogr&aacute;fica aproximada, etc).</p>
<p>La informaci&oacute;n recopilada por Google Analytics nos sirve para mejorar Airea.me. Si no est&aacute; de acuerdo con el uso de Google Analytics, bloquee la ejecuci&oacute;n de JavaScript en su navegador cuando nos visite o utilice aplicaciones como <a href="http://noscript.net/" title="NoScript">NoScript</a>.</p>
<p>Si tiene alguna duda sobre esta Pol&iacute;tica de privacidad, p&oacute;ngase en contacto con nosotros en <a href="mailto:contacto@airea.me">contacto@airea.me</a>.</p>
