/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 20px;
	padding: 0;
	background: #FDF9EE;
	/*font-family: Arial, Helvetica, sans-serif;*/
	background: #E2E7F2 url(../../../images/body-bg.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6D6D6D;
color: #4d4d4d;

}

h1, h2, h3 {
	margin: 0;
	margin-bottom: 20px;
	text-transform: lowercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #3cb1f0;
	border-bottom: 1px dashed #D1D1D1;
}

h1 {
	letter-spacing: -1px;
	font-size: 35px;
}

h2 {
	font-size: 22px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

p img {
	margin: 30px;
}

a:link {
	color: #2a7ca8;
}

a:hover, a:active {
	text-decoration: none;
	color: #0094E0;
}

a:visited {
	color: #6CC1F0;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 15px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}


#wrapper {
	background: #7ACF00 url(images/img03.jpg);
}

table {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ccc;
	background: #ededed;
	color: #333;
	margin-bottom: 10px; 	
}

table th {
	background: #666;
	color: #fff;
}

table tr {
	border-bottom: 1px solid #fff;
}


/* Header */

#header {
	width: 900px;
	height: 40px;
	margin: 0 auto 20px auto;
}

#logo {
	float: left;
	height: 40px;
	margin-left: 10px;
	margin-top: 30px;
}

#logo h1 {
	float: left;
	margin: 0;
	font-size: 38px;
	color: #0099E8;
	border: none;
}

#logo h1 sup {
	vertical-align: text-top;
	font-size: 24px;
}

#logo h1 a {
	color: #0099E8;
}

#logo h2 {
	float: left;
	margin: 0;
	padding: 20px 0 0 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6D6D6D;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	margin-top: 35px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 5px;
	background: #355605 url(../../../images/button_bg.png) repeat-x bottom;
	border: 1px dashed #FFFFFF;
	padding: 1px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: lowercase;
	font-weight: bold;
}

#menu a:hover {
	text-decoration: underline;
	background: #355605 url(../../../images/button_bg_flip.png) repeat-x top;
}

#menu .active a {
	color: #9bc263;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	background: #FFF;
	border: 1px #F0E9D6 solid;
	padding: 20px 20px;
	margin-top: 60px;
	border.radius: 10px;  
 	-moz-border-radius:10px;  
 	-webkit-border-radius:10px;
	-moz-box-shadow:0px 0px 5px #0094e0;
    	-webkit-box-shadow:0px 0px 5px #0094e0;
    	box-shadow:0px 0px 5px #0094e0; 
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding-left: 10px;
}

/* Post */

.post {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding-left: 40px;
	background: url(images/img02.jpg) no-repeat left top;
	border-bottom: 1px dashed #D1D1D1;
	color: #8BCB2F;
}

.post .title b {
	font-weight: normal;
	color: #0094E0;
}

.post .entry {
}

.post .meta {
	margin: 0;
	padding: 15px 0 60px 0;
	background: url(images/img04.jpg) repeat-x left 30%;
}

.post .meta p {
	margin: 0;
	line-height: normal;
}

.post .meta .byline {
	float: left;
	color: #0000FF;
}

.post .meta .links {
	float: left;
}

.post .meta .more {
	width: 185px;
	height: 35px;
	padding: 5px 10px;
	background: #8BCB2F;
	border: 1px dashed #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 9px;
}

.post .meta .comments {
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	background: #0094E0;
	border: 1px dashed #FFFFFF;
	font-size: 9px;
}

.post .meta b {
	display: none;
}

.post .meta a {
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	padding-right: 10px;
}

#sidebar ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
	margin-top: -20px;
}

#sidebar li ul li {
}

#sidebar li li {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px dashed #D1D1D1;
}

#sidebar li li a {
	margin: 0;
	padding-left: 15px;
	background: url(images/img01.jpg) no-repeat left 50%;
}

#sidebar h2 {
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #005f92;
	border-bottom: 1px dashed #8bcb2f;
}

#sidebar strong, #sidebar b {
	color: #54840f;
}

#sidebar a {
	text-decoration: none;
	color: #6D6D6D;
}

/* Search */

#search {
}

#search h2 {
}

#s {
	width: 150px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #F0F0F0;
}

#x {
	padding: 3px;
	background: #ECECEC url(images/img08.gif) repeat-x left bottom;
	border: none;
	text-transform: lowercase;
	font-size: 11px;
	color: #4F4F4F;
}

/* Boxes */

.box1 {
	padding: 20px;
	background: url(images/img05.gif) no-repeat;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	background: url(images/img10.gif) repeat-x left bottom;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */

#footer {
	width: 970px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	color: #353535;
}

html>body #footer {
	height: auto;
}

#footer-menu {
}

#legal {
	clear: both;
	font-size: 11px;
	color: #6D6D6D;
	margin-left: 15px;
}

#legal a {
	color: #0094E0;
}

#footer-menu {
	float: left;
	color: #353535;
	text-transform: capitalize;
}

#footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer-menu li {
	display: inline;
}

#footer-menu a {
	display: block;
	float: left;
	padding: 1px 15px 1px 15px;
	background: url(images/img03.jpg) no-repeat right 50%;
	text-decoration: none;
	font-size: 11px;
	color: #6D6D6D;
}

#footer-menu a:hover {
	text-decoration: underline;
}

#footer-menu .active a {
	padding-left: 0;
}

/* Tables */

#data_table {
	margin-top: 10px;
	border: 1px solid #ccc;
	background: #ededed;
	padding: 3px;
}

#data_table_length, #data_table_filter {
	margin-top: 10px;
	padding: 2px 5px;
	color: #54840f;
}

#data_table_length {
	margin-left: 5px;
}


#data_table  table{
	margin-top: 30px;
	color: #333;
}

#data_table_info {
	width: 150px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	color: #666;
}

#data_table_paginate {
	margin-top: 10px;
}

span.fg-button {
	padding: 0px 5px;
	color: #acacac;
	cursor: pointer;
}

span.fg-button:hover {
	padding: 0px 5px;
	color: #2a7ca8;
	text-decoration: underline;
}

span.previous, span.next, span.first, span.last{
	padding: 0px 5px;
	cursor: pointer;
	color: #2a7ca8;
	text-decoration: underline;
}

span.previous:hover, span.next:hover, span.first:hover, span.last:hover {
	text-decoration: none;
	color: #0094E0;
}

/* Upper right buttons */
.auth_navbar a {
	color: #fff;
}

/* Legend */

#legend {
	float: right;
	margin-top: 10px;
}

#legend img {
	margin-left: 5px;
}

#legend span {
	margin-left: 7px;
}


#map_canvas {
	width:600px;
	height:400px
}

/* Concentrations */

#concentrations {
	border: 1px solid #ccc;
	background: #ededed;
	color: #333;
	width: 50%;
	margin-bottom: 20px;
}

#concentrations ul, #concentrations li {
	margin: 0px;
}

#concentrations li {
	margin-left: 30px;
}


