{{extend 'layout.html'}}
<h1>Calidad del Aire</h1>
<p>La contaminaci&oacute;n atmosf&eacute;rica constituye un riesgo medioambiental para la salud y se estima que causa alrededor de dos millones de muertes prematuras al a&ntilde;o en todo el mundo.</p>
<p>Para evaluar la contaminaci&oacute;n atmosf&eacute;rica, Airea.me ha tenido en cuenta los elementos marcados como contaminantes en las directrices de 2005 de la OMS sobre : calidad de aire por tener un efecto da&ntilde;ino para la salud: part&iacute;culas en suspensi&oacute;n, ozono, di&oacute;xido de nitr&oacute;geno</p>
<h2>Part&iacute;culas en suspensi&oacute;n</h2>
<div id="data">
	<p>PM&sub2.5;</p>
	<ul>
		<li>10 &mu;g/m&sup3; de media anual</li>
		<li>25 &mu;g/m&sup3; de media en 24h</li>
	</ul>
	<p>PM&sub10;</p>
	<ul>
		<li>20 &mu;g/m&sup3; annual mean</li>
		<li>50 &mu;g/m&sup3; de media en 24h</li>
	</ul>
</div>
<h2>Ozono (O&sub3;)<h2>
<div id="data">
	<ul>
		<li>100 &mu;g/m&sup3; de media en 8h</li>
	</ul>
</div>
<h3>Definici&oacute; y fuentes principales</h3>
<p>El ozono a nivel del suelo ―que no debe confundirse con la capa de ozono en la atmósfera superior― es uno de los principales componentes de la niebla tóxica. Éste se forma por la reacción con la luz solar (fotoquímica) de contaminantes como los óxidos de nitrógeno (NOx) procedentes de las emisiones de vehículos o la industria y los compuestos orgánicos volátiles (COV) emitidos por los vehículos, los disolventes y la industria. Los niveles de ozono más elevados se registran durante los períodos de tiempo soleado.</p>
<h3>Efectos sobre la salud</h3>
<p>El exceso de ozono en el aire puede producir efectos adversos de consideración en la salud humana. Puede causar problemas respiratorios, provocar asma, reducir la función pulmonar y originar enfermedades pulmonares. Actualmente se trata de uno de los contaminantes atmosféricos que más preocupan en Europa. Diversos estudios europeos han revelado que la mortalidad diaria y mortalidad por cardiopatías aumentan un 0,3&#37; y un 0,4&#37; respectivamente con un aumento de 10 µg/m3 en la concentración de ozono.</p>
<h2>Di&oacute;xido de Nitr&oacute;geno (NO&sub2;)</h2>
<div id="data">
	<ul>
		<li>40 &mu;g/m&sup3; de media anual</li>
		<li>200 &mu;g/m&sup3; de media en 1h</li>
	</ul>
</div>
<h3>Definici&oacute; y fuentes principales</h3>
<h2>Di&oacute;xido de Azufre (SO&sub2;)</h2>
<h3>Efectos sobre la salud</h3>
<div id="data">
	<ul>
		<li>20 &mu;g/m&sup3; de media en 24h</li>
		<li>500 &mu;g/m&sup3; de media en 10 min</li>
	</ul>
</div>
<h2>Di&oacute;xido de Azufre (SO&sub2;)</h2>
<h3>Efectos sobre la salud</h3>	
<a href="http://www.who.int/mediacentre/factsheets/fs313/es/index.html" title="P&aacute;gina Oficial OMS">M&acute;s informaci&oacute;n ... </a>
