{{extend 'historic/base.html'}} 
<h2>{{=T('Measurement Station by Name')}}</h2>
<ul>

{{for station in data:}}
<li>{{=station.name}}&nbsp;
{{=A(T('current'),_href=URL(request.application,'historic','current',args=[station.code]))}}&nbsp;
{{=A(T('last week'),_href=URL(request.application,'historic','last_seven',args=[station.code]))}}&nbsp;
{{=A(T('last month'),_href=URL(request.application,'historic','last_month',args=[station.code]))}}&nbsp;
{{=A(T('last year'),_href=URL(request.application,'historic','last_year',args=[station.code]))}}&nbsp;
{{=A(T('original info.'),_href=station.href,_target="_blank")}}
{{if station.ca:}}
<ul>
<li>{{=T('Air quality')}}&nbsp;
{{=A(T('current'),_href=URL(request.application,'historic','current',args=[station.code,'quality']))}}&nbsp;
{{=A(T('last week'),_href=URL(request.application,'historic','last_seven',args=[station.code,'quality']))}}&nbsp;
{{=A(T('last month'),_href=URL(request.application,'historic','last_month',args=[station.code,'quality']))}}&nbsp;
{{=A(T('last year'),_href=URL(request.application,'historic','last_year',args=[station.code,'quality']))}}
</li>
</li>
</ul>
{{pass}}
</li>
{{pass}}

</ul>